*.dcu
History/*
**/__history/*
*.exe
*.zip
Mandelbulb3D.ini
*.dsk
*.~dsk
*.local
*.identcache
color_preset*
x64/*
lib/
*.exe
.worktrees/
diag_output/
M3Maps_bmp/
mb3d_startup.log
M3Parameter/mb3d_startup.log
diag_output/
